<html>

<head>
  <title>Shredis</title>
  <link rel="stylesheet" href="/css/reset.css" type="text/css" />
  <link rel="stylesheet" href="/css/shredis.css" type="text/css" />
</head>

<body>
  <div id="shredis">
    <div id="header">
      <h1><a href="/">Shredis</a></h1>
      <ul class="clearfix">
        <li><a href="/databases">databases</a></li>
      </ul>
    </div>

    <div id="content">
      <%= yield %>
    </div>

    <div id="status">
      Status:

      Redis <%= @status["redis_version"] %> |
      Uptime: <%= time_distance @status["uptime_in_seconds"].to_i %> |
      Connected clients: <%= @status["connected_clients"] %> |
      Used memory: <%= file_size @status["used_memory"].to_i %> |
      Last save time: <%= Time.at @status["last_save_time"].to_i %>
    </div>

    <div id="shredis-github">
      <a href="http://github.com/filiptepper/shredis">shredis</a> 0.1.0
    </div>
  </div>
</body>

</html>